{% extends "layouts/default.twig" %}

{% block content %}
        <section id="parcours-show">
                <div class="row">

                    <div class="col-12 col-md-12 col-lg-6 position-relative dark-bg">
                        <div class="box-parcours-show box-parcours parcours-fixed " style="background-image: url('{{ parc.imageCourse }}')">
                            <div class="bg-light">
                                <div class="filter-image">
                                    <div class="content-parcours-show m-5">
                                        <h1>{{ parc.titleCourse}}</h1>
                                        <span class="mt-3"><i class="fa-solid fa-location-dot mr-2"></i>Lieu - ville , pays</span>
                                        <p class="mt-3">{{ parc.descriptionCourse[0:1000]|striptags}}</p>
                                        <ul>
                                            <li>#tag1</li>
                                            <li>#tag2</li>
                                        </ul>
                                        <a href="{{ route('course.show.play',{'id' : parc.idCourse}) }}" class="btn play-btn-white float-right"><i class="fa-solid fa-play"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="ranking-comments col-12 col-md-12 col-lg-6">
                        <div class="players-ranking">
                            <h2>Classement des joueurs sur ce parcours</h2>
                            <table class="table">
                                <tbody>


                                {% for user in users %}
                                <tr>
                                    <th scope="row">
                                        <img alt="player-1" src="{{ user.photoUser }}"/>
                                    </th>
                                    <td>
                                        <h3>{{ user.pseudoUser }}</h3>
                                        <h4>Joueur de niveau 4</h4>
                                    </td>
                                    <td>1657 pts</td>
                                    <td><i class="fa-regular fa-clock"></i> 5:02:34</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                        <div class="parcours-comments">
                            <h2>Commentaires des joueurs</h2>

                            {% for comment in comments %}
                            <div class="bubble-comment row">
                                <div class="col-2">
                                    {% if comment.user_emailUser == null %}
                                        <img alt="player-1" src="/public/assets/img/jpg/users/default.png"/>
                                    {% else %}
                                        <img alt="player-1" src="/public/assets/img/jpg/users/portrait-1.jpg"/>
                                    {% endif %}
                                </div>
                                <div class="col-10">
                                    <div class="box-comment">
                                        <p>
                                            {{ comment.descriptionComment|raw}}

                                        </p>
                                        <hr>
                                        {% if comment.user_emailUser == null %}
                                             <em>{{ comment.pseudoUserNotRegistered }} - Non membre du site </em>
                                        {% else %}
                                            <em>{{ comment.user_emailUser }} - Membre depuis le {{ auth.registrationDate |date("d/m/Y") }} </em>
                                        {% endif %}

                                    </div>
                                    <span>{{ comment.creationDate }}</span>
                                    {%  if auth.admin == 1 %}
                                        <a href="{{ route('course.comment.delete', {'idComment':comment.idComment ,'idCourse':parc.idCourse})}}" class="text-black-50">Supprimer</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        <br>
                        <div class="add-comment-parcours">
                            <h2>Ajouter un commentaire</h2>

                            <form method="post" action="{{ route('course.comment.create') }}">

                                {% if auth.email == null %}
                                <div class="form-group">
                                    <label for="pseudo">Pseudo</label>
                                    <input type="pseudo" class="form-control" id="pseudo" name="pseudo" {% if auth.status == null %}placeholder="Entrez votre pseudo" {% else %}  placeholder="{{ auth.pseudo }}"  disabled{% endif %}  >
                                </div>
                                {% endif %}
                                <input type="hidden" class="form-control" id="idCourse" name="idCourse" value="{{ parc.idCourse }}">
                                <div class="form-group">
                                    <label for="usercomment">Commentaire</label>
                                    <textarea id="description" class="form-control" name="usercomment"></textarea>
                                </div>
                                {% if error.usercomment %}
                                    <span class="text-danger">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{ error.usercomment }}<br><br>
                                </span>
                                {% endif %}
                                <button type="submit" class="btn btn-yellow-square">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
        </section>

{% endblock %}

{% block js %}
    <script src="/public/assets/ckeditor/ckeditor.js"></script>
<script>

        tinymce.init({
        selector: "#description",
        plugins: "emoticons",
        toolbar: "emoticons",
        toolbar_location: "bottom",
        menubar: false
    });
</script>


{% endblock %}