{% extends "layouts/default.twig" %}

{% block content %}


    <section id="parcours-list">
        <div class="row">

                {% for parc in parcours  %}
                    <div class="box-parcours position-relative col-12 col-md-6 col-lg-4 bg-light" style="background-image: url('{{ parc.image }}')" >
                        <div class="filter-image">
                            <div class="m-5">
                                <h1>{{ parc.titre }}</h1>
                                <span class="mt-3"><i class="fa-solid fa-location-dot mr-2"></i>{{ parc.lieu }} - {{ parc.ville }}, {{ parc.pays }}</span>
                                <p class="mt-3">{{ parc.description[0:200]|striptags}} ...</p>
                                <ul>
                                    <li>#tag1</li>
                                    <li>#tag2</li>
                                </ul>
                                <a href="{{ route('parcours.show',{'id' : parc.id}) }}" class="btn play-btn-white float-right"><i class="fa-solid fa-play"></i></a>
                            </div>
                        </div>
                    </div>

                {% endfor %}

        </div>

    </section>

{% endblock %}