{% extends "layouts/default.twig" %}

{% block content %}
        <section id="parcours-show">
                <div class="row">

                     <div class="box-parcours  box-parcours-show position-relative col-12 col-md-6 col-lg-6 bg-light" style="background-image: url('{{ parc.image }}')" >
                          <div class="filter-image">
                             <div class="m-5">
                                <h1>{{ parc.titre }}</h1>
                                <span class="mt-3"><i class="fa-solid fa-location-dot mr-2"></i>{{ parc.lieu }} - {{ parc.ville }}, {{ parc.pays }}</span>
                                <p class="mt-3">{{ parc.description[0:1000]|striptags}}</p>
                                <ul>
                                   <li>#tag1</li>
                                   <li>#tag2</li>
                                </ul>
                                <a href="{{ route('parcours.show',{'id' : parc.id}) }}" class="btn play-btn-white float-right"><i class="fa-solid fa-play"></i></a>
                             </div>
                        </div>
                    </div>

                    <div class="ranking-comments col-12 col-md-6 col-lg-6">
                        <div class="players-ranking">
                            <h2>Classement des joueurs sur ce parcours</h2>
                            <table class="table">
                                <tbody>


                                {% for user in users %}
                                <tr>
                                    <th scope="row">
                                        <img alt="player-1" src="{{ user.photo }}"/>
                                    </th>
                                    <td>
                                        <h3>{{ user.pseudo }}</h3>
                                        <h4>Joueur de niveau 4</h4>
                                    </td>
                                    <td>1657 pts</td>
                                    <td><i class="fa-regular fa-clock"></i> 5:02:34</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                        <div class="parcours-comments">
                            <h2>Commentaire des joueurs</h2>

                            <div class="row">
                                <div class="col-2">
                                    <img alt="player-1" src="/public/assets/img/jpg/users/portrait-1.jpg"/>
                                </div>
                                <div class="col-10">
                                    <div class="box-comment">
                                        <p>
                                            Libero iaculis, a dignissim lacus blandit. Praesent lacinia ligula dui, suscipit posuere felis convallis non. Suspendisse bibendum feugiat ultricies.  Ejectae !!
                                        </p>
                                    </div>
                                    <span>26/03:2022 23:42:00</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
        </section>

{% endblock %}