{% extends "layouts/default.twig" %}

{% block content %}
        <section id="parcours-show">
                <div class="row">

                    <div class="col-12 col-md-12 col-lg-6 position-relative dark-bg">
                        <div class="box-parcours-show box-parcours parcours-fixed " style="background-image: url('{{ parc.image }}')">
                            <div class="bg-light " >
                                <div class="filter-image">
                                    <div class="content-parcours-show m-5">
                                        <h1>{{ parc.titre }}</h1>
                                        <span class="mt-3"><i class="fa-solid fa-location-dot mr-2"></i>{{ parc.lieu }} - {{ parc.ville }}, {{ parc.pays }}</span>
                                        <p class="mt-3">{{ parc.description[0:1000]|striptags}}</p>
                                        <ul>
                                            <li>#tag1</li>
                                            <li>#tag2</li>
                                        </ul>
                                        <a href="{{ route('parcours.show',{'id' : parc.id}) }}" class="btn play-btn-white float-right"><i class="fa-solid fa-play"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="ranking-comments col-12 col-md-12 col-lg-6">
                        <div class="players-ranking">
                            <h2>Classement des joueurs sur ce parcours</h2>
                            <table class="table">
                                <tbody>


                                {% for user in users %}
                                <tr>
                                    <th scope="row">
                                        <img alt="player-1" src="{{ user.photo }}"/>
                                    </th>
                                    <td>
                                        <h3>{{ user.pseudo }}</h3>
                                        <h4>Joueur de niveau 4</h4>
                                    </td>
                                    <td>1657 pts</td>
                                    <td><i class="fa-regular fa-clock"></i> 5:02:34</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                        <div class="parcours-comments">
                            <h2>Commentaires des joueurs</h2>

                            {% for comment in comments %}
                            <div class="bubble-comment row">
                                <div class="col-2">
                                    <img alt="player-1" src="/public/assets/img/jpg/users/portrait-1.jpg"/>

                                </div>
                                <div class="col-10">
                                    <div class="box-comment">
                                        <p>
                                            {{ comment.description|raw}}
                                        </p>
                                        <hr>
                                        <em>Hortalia - Membre depuis le 12/04/22 </em>

                                        {{ comment.user.pseudo|raw}}
                                    </div>
                                    <span>{{ comment.creationDate }}</span>
                                    <a href="{{ route('parcours.comment.delete', {'id':comment.id ,'parcoursID':parc.id})}}" class="text-black-50">Supprimer</a>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        <br>
                        <div class="add-comment-parcours">
                            <h2>Ajouter un commentaire</h2>

                            <form method="post" action="{{ route('parcours.comment.create') }}">
                                <div class="form-group">
                                    <label for="pseudo">Pseudo</label>
                                    <input type="pseudo" class="form-control" id="pseudo" name="pseudo" placeholder="Entrez votre pseudo">
                                    <input type="hidden" class="form-control" id="idparcours" name="idparcours" value="{{ parc.id }}">
                                </div>
                                <div class="form-group">
                                    <label for="ckeditor">Password</label>
                                    <textarea class="form-control" name="ckeditor"></textarea>
                                </div>
                                <button type="submit" class="btn btn-yellow-square">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
        </section>

{% endblock %}


{% block js %}
    <script src="/public/assets/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('ckeditor', {
            uiColor: '#FFA626',
            removeButtons: 'PasteFromWord'
        });
    </script>
{% endblock %}