{% extends "layouts/default.twig" %}

{% block content %}

    <section id="website-connection" class="bg-light" style="background-image: url('/public/assets/img/svg/yoga.svg')">
        <div class="card shadow form-box border-0">
            <div class="card-body">
                <div class="card-title mb-4">
                    <h1>Connecte toi à ton compte</h1>
                    <h2>Suis de nouvelles aventures ou crée en par toi même</h2>
                </div>
                <div class="card-texte">
                    <form id="loginForm" method="POST" action="{{ route('user.login') }}">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Addresse mail</label>
                            <input type="email" name="email" id="email" class="form-control  {% if error.email %}input-error{% endif %}" placeholder="Quelle est ton addresse mail ?">
                            {% if error.email %}
                                <span class="text-danger">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{ error.email }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mot de passe</label>
                            <input type="password" name="password" id="password" class="form-control {% if error.password %}input-error{% endif %}" placeholder="Choisis un mot de passe pour sécuriser ton compte">
                            {% if error.password %}
                                <span class="text-danger">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{ error.password }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="mt-4 submit-box">
                            <button type="submit" class="btn btn-yellow-square mx-auto d-block">C'est parti !</button>
                            <small id="emailHelp" class="form-text text-muted">Tu n'as pas encore de compte ? <a href="{{ route('user.register') }}" class="text-yellow">Inscris toi ICI</a></small>
                            <small id="emailHelp" class="form-text text-muted">Mot de passe oublié ? Pas de panique appuie <a href="{{ route('user.inscription') }}" class="text-yellow">ICI</a></small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}