{% extends 'layouts/no-header.twig' %}


{% block content %}

    <div class="row" style="overflow-x: hidden">

    {% for course in courses %}


        <div class="account-parcours-box col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-sm mb-2 account-parcours-box-content">
                    {% if course.imageCourse == null %}
                        <div style="max-height: 200px; background-color: #95999c;margin:auto; text-align: center">Image non trouvée</div>
                    {% else %}
                    <img class="card-img-top" src="{{ course.imageCourse }}" alt="Card image cap" style="max-height: 180px">
                    {% endif %}
                    <div class="card-body">
                        <h3>{{ course.titleCourse }}</h3>
                        <p class="card-text">{{ course.descriptionCourse[0:200]|striptags|raw }}</p>
                    </div>
                    <div class="card-footer bg-white float-right">
                       <div class="row">
                           <div class="col-8">
                               <a class="text-yellow" href="{{ route('account.course.show', {'id':course.idCourse}) }}" target="_parent"><i class="fa-solid fa-eye"></i></a>
                               <i class="fa-solid fa-user text-black-50"></i> <span class="text-black-50">12</span>
                           </div>
                           <div class="col-4">
                               <a href="{{ route('account.course.show', {'id':course.idCourse}) }}" class="text-black-50" target="_parent"><i class="fa-solid fa-pen-to-square"></i></a>
                               <a href="{{ route('account.course.delete', {'id':course.idCourse}) }}" class="text-danger" onclick="alert('Voulez-vous vraiment supprimer ce parcours ?')" ><i class="fa-solid fa-trash-can"></i></a>
                           </div>
                       </div>
                    </div>
                </div>
        </div>

    {% endfor %}
    </div>
{% endblock %}