{% extends "account/layouts/default.twig" %}


{% block account %}

    <div class="container">
        <a href="{{ route('account.course.index') }}" class="btn btn-yellow-square text-decoration-none"><i class="fa fa-arrow-left"></i> Retour</a>
        <div class="card card-account mt-4">
            <div class="card-title p-4">
                <h2 class="m-0"><span class="font-weight-bold">ID : {{ courseGeneral.idCourse }}</span> - {{ courseGeneral.titleCourse }}

                    <a href="{{ route('account.course.update',{'id':courseGeneral.idCourse}) }}"><i class="fa fa-edit mr-2 float-right"></i></a>
                </h2>
            </div>
            <hr class="text-black-50">
            <div class="card-body mr-4 ml-4 mb-4">

                <em class="mt-4 mb-3"><i class="fa fa-calendar mr-2"></i> Parcours créé le {{ courseGeneral.creationDateCourse | date('d-m-y')}}</em><br>

                {% if courseGeneral.distanceCourse == NULL %}
                        <span class="text-danger">Distance du parcours : ( valeur nulle )</span>
                    {% else %}
                        <em class=""><i class="fa-solid fa-person-running mr-2"></i> Distance du parcours : {{ courseGeneral.distanceCourse }} km</em>
                    {% endif %}
                    <br><br>

                    <em class="font-weight-bold">Description du parcours</em><br><br>
                    {{ courseGeneral.descriptionCourse | raw }}

            </div>
        </div>

        <div class="mt-4">
            <a href="{{ route('account.location.create',{'id' : courseGeneral.idCourse}) }}" class="btn btn-yellow-square mb-3">
                <i class="fa-solid fa-plus"></i>
                Nouveau lieu
            </a>
        </div>

        {% for location in courseLocations %}
            {% if location.idLocation != NULL %}
                <!-- Ajouter un lieu -->
                <div class="card card-account mt-4">
                    <div class="card-title pt-4 pl-4 pr-4 pb-0">
                        <h2 class="m-0"><i class="fa fa-map"></i> {{ location.idLocation }} - {{ location.titleLocation }}
                            <a href="{{ route('account.location.update',{'idCourse':courseGeneral.idCourse, 'idLocation':location.idLocation}) }}"><i class="fa fa-edit float-right align-middle"></i></a>

                        </h2>
                    </div>
                    <hr class="text-black-50">
                    <div class="card-body mr-4 ml-4 mb-4">
                        <em class="font-weight-bold">Adresse : {{ location.addressLocation }}</em>
                        <br>
                        {{ location.descriptionLocation }}

                        <br><br>
                        <a href="{{ route('account.riddle.create',{'id' : location.idLocation}) }}">
                            <i class="fa-solid fa-plus"></i>
                            Nouvelle énigme
                        </a>
                        <br><br>
                        {% if location.riddles != NULL %}
                        <div class="accordion" id="accordionExample">
                                <div class="card">
                                    {% for riddle in location.riddles  %}
                                        <div class="card-header" id="headingThree">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    {{ riddle.titleRiddle }}
                                                    <a href="{{ route('account.riddle.update',{'idCourse':courseGeneral.idCourse, 'idLocation':location.idLocation, 'idRiddle':riddle.idRiddle}) }}"><i class="fa fa-edit mr-2 float-right"></i></a>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                            <div class="card-body">
                                                {{ riddle.descriptionRiddle }}
                                            </div>
                                            <a class="ml-3 text-yellow" href="{{ route('account.clue.create',{'id' : riddle.idRiddle}) }}">
                                                <i class="fa-solid fa-plus"></i>
                                                Nouvelle indice
                                            </a>
                                            <br><br>
                                            {% for clue in riddle.clues %}
                                            <!-- Clues -->
                                            <div class="alert alert-warning" role="alert">
                                                {{ clue.titleClue }} - {{ clue.descriptionClue }}
                                                <a href="{{ route('account.clue.update',{'idCourse':courseGeneral.idCourse, 'idLocation':location.idLocation, 'idRiddle':riddle.idRiddle, 'idClue':clue.idClue}) }}"><i class="fa fa-edit mr-2 float-right"></i></a>
                                            </div>
                                            <!-- Clues -->
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                        </div>
                        {% else %}
                            <span class="text-danger">Aucunes énigmes</span>
                        {% endif %}

                    </div>
                </div>
            {% else %}
                <div class="m-2 mt-4 text-danger">
                    Aucun lieu créé pour le moment
                </div>
            {% endif %}

        {% endfor %}



        <!-- /edit -->


    </div>





{% endblock %}