{% extends "account/layouts/default.twig" %}


{% block parcours %}
    <div class="m-5">
        <form id="loginForm" method="POST" action="{{ route('account.parcours.new') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="parcoursTitle">Titre</label>
                <input type="text" name="parcoursTitle" id="parcoursTitle"
                       class="form-control  {% if error.parcoursTitle %}input-error{% endif %}"
                       placeholder="Quelle est le titre du parcours ?"
                       value="{{ post.parcoursTitle }}"
                >
                {% if error.parcoursTitle %}
                    <span class="text-danger">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{ error.parcoursTitle }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="parcoursLieu">Lieu</label>
                <input type="text" name="parcoursLieu" id="parcoursLieu"
                       class="form-control {% if error.password %}input-error{% endif %}"
                       placeholder="Renseignez le lieu"
                       value="{{ post.parcoursLieu }}"
                >
                {% if error.parcoursLieu %}
                    <span class="text-danger">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{ error.parcoursLieu }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="parcoursVille">Ville</label>
                <input type="text" name="parcoursVille" id="parcoursVille"
                       class="form-control {% if error.password %}input-error{% endif %}"
                       placeholder="Dans quel ville aura t-il lieu ?"
                       value="{{ post.parcoursVille }}"
                >
                {% if error.parcoursVille %}
                    <span class="text-danger">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{ error.parcoursVille }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="parcoursPays">Pays</label>
                <input type="text" name="parcoursPays" id="parcoursPays"
                       class="form-control {% if error.password %}input-error{% endif %}"
                       placeholder="Dans quel pays aura t-il lieu ?"
                       value="{{ post.parcoursPays }}"
                >
                {% if error.parcoursPays %}
                    <span class="text-danger">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{ error.parcoursPays }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="ckeditor">Description</label>
                <textarea
                        name="ckeditor"
                        id="ckeditor"
                        class="form-control {% if error.password %}input-error{% endif %}">
                        {{ post.ckeditor }}
                </textarea>
                {% if error.ckeditor %}
                    <span class="text-danger">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{ error.ckeditor }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="parcoursImage">Image</label>
                <input type="file" name="parcoursImage" id="parcoursImage"
                       class="form-control {% if error.password %}input-error{% endif %}"
                       placeholder="Image d'illustration du parcours"
                       value="{{ post.parcoursImage }}"
                >
                {% if error.parcoursImage %}
                    <span class="text-danger">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{ error.parcoursImage }}
                    </span>
                {% endif %}
            </div>
            <div class="mt-4 submit-box">
                <button type="submit" class="btn btn-yellow-square mx-auto d-block">C'est parti !</button>
            </div>
        </form>
    </div>

{%endblock %}


{% block js %}
    <script src="/public/assets/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('ckeditor', {
            uiColor: '#FFA626',
            removeButtons: 'PasteFromWord'
        });
    </script>
{% endblock %}