<nav class="navbar navbar-expand-lg navbar-light bg-white shadow">

    <a class="navbar-brand" href="{{ route('home.index') }}"><img src="/public/assets/img/logo-riddle.png" width="100"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mt-1" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{{ route('course.index') }}">Jeux/Parcours<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">À propos</a>
            </li>
        </ul>

        {% if auth.email == null %}
            <a href="{{ route('user.connect') }}" class="btn btn-black-line float-right">Connexion</a>
        {% else %}

            <div class="btn-group">
                <button type="button" class="button-none dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle profile-pic mr-2 " width="50px" alt="100x100" src="/public/assets/img/jpg/users/{{ auth.photo }}" data-holder-rendered="true">
                    <span class="font-weight-normal mr-2">{{ auth.pseudo }}</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right shadow border-0">
                    <a class="dropdown-item" href="#">Mon profil</a>
                    <a class="dropdown-item" href="#">Parcours lancé(s)</a>
                    <a class="dropdown-item" href="{{ route('account.course.index')}}">Création/édition de parcours</a>
                    <a class="dropdown-item" href="#">Classement général</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ route('user.logout') }}"><i class="fa-solid fa-power-off mr-2"></i> Déconnection</a>
                </div>
            </div>

        {% endif %}
    </div>
</nav>